.recipe-view {
  width: 100%;
}

.recipe-view img {
  margin: auto;
  display: block;
  width: 500px;
}

.recipe-view h1,
.recipe-view h3,
.recipe-view a {
  display: block;
  text-align: center;
}

.recipe-view h5 {
  text-emphasis: left;
  max-width: 500px;
  margin: auto; 
}

.recipe-view .list {
  max-width: 500px;
  margin: auto;
}

.recipe-view .list ul {
  padding: 0;
}

.recipe-view hr {
  text-emphasis: left;
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
}